{% extends 'index.html' %}

{% block body %}
    <div class="container">
        <div class="mt-5">
            <h4 class="title">{{ title }}</h4>
            <div class="border-2 border-bottom pb-1 w-25"></div>
        </div>
        <form action="{{ action }}" method="POST" class="mt-4">
            <fieldset>
                <div class="mb-4">
                    <label for="name" class="mb-1">Nom</label>
                    <input
                        id="name"
                        type="text"
                        name="name"
                        value="{{ name }}"
                        class="form-control"
                        placeholder="Saisir le nom de votre revenu"
                        required>
                </div>
                <div class="mb-4">
                    <label for="amount" class="mb-1">Montant</label>
                    <input
                        id="amount"
                        type="number"
                        step="0.01"
                        min="0"
                        name="amount"
                        value="{{ amount }}"
                        class="form-control"
                        placeholder="Saisir le montant de votre revenu"
                        required>
                </div>
                <button type="submit" class="btn mb-3 text-white w-100 btn-login">
                    Valider
                    <i class="bi bi-check-circle"></i>
                </button>
            </fieldset>
        </form>
    </div>
{% endblock %}