.img-login {
    height: 100% !important;
    object-fit: cover;
}

.card-login {
    width: 40%;
}

@media screen and (max-width: 800px) {
    .card-login {
        width: 70%;
    }
}

.btn-login {
    background: #9f8fd6;
}