{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="d-flex justify-content-center">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade  mt-5 show w-75" role="alert">
                    <p class="mb-0"><strong>{{ message }}</strong></p>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close">
                    </button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}