<nav class="bg-dark border-bottom p-2">
    <div class="h-50 p-3 row">
        <h5 class="col-2">
            <a href="/profile" class="text-decoration-none text-white">BudgetForecast</a>
        </h5>
        <div class="col-8 d-flex justify-content-center">
            <a href="/revenues" class="nav-item text-decoration-none text-white">
                Revenus
            </a>
            <a href="/analysis_history" class="me-5 ms-5 nav-item text-decoration-none text-white">
                Catégories de revenus
            </a>
            <a href="/human_ressource" class="nav-item text-decoration-none text-white">
                Dépenses
            </a>
        </div>
        <a href="/logout" class="col-2 nav-item text-decoration-none text-end text-white">
            Logout
            <i class="bi bi-arrow-bar-right"></i>
        </a>
    </div>
</nav>

{% include('flash.html') %}